body {
    height: 200vh;
}

#main-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.welcome-title {
    margin-top: 300px;
    font-size: 60px;
    font-weight: 600;
    color: white;
}

.channels {
    display: flex;
    justify-content: center;
}

.gemejoa-channel,
.jeguk-channel {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 650px;
    color: white;
}

.gemejoa-channel {
    left: 15%;
}

.jeguk-channel {
    right: 15%;
}

.gemejoa-channel span,
.jeguk-channel span {
    font-size: 20px;
}

.gemejoa-channel h4,
.jeguk-channel h4 {
    font-size: 30px;
    margin-bottom: 25px;
}

.gemejoa-image,
.jeguk-image {
    width: 150px;
    height: 150px;
}

.gemejoa-image {
    transform: rotateZ(20deg);
}

.jeguk-image {
    width: 150px;
    height: 150px;
    transform: rotateZ(-20deg);
}

.channels__title {
    position: absolute;
    top: 740px;
    color: white;
    font-size: 60px;
}

.nav-bar {
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
}

.nav-bar__title {
    left: 70px;
    position: absolute;
    margin-left: 70px;
    margin-bottom: 20px;
    font-size: 72px;
    font-weight: 600;
}

.nav-bar__div-bar {
    width: 10px;
    height: 80px;
    border-radius: 5px;
    background-color: gray;
}

.nav-bar__icons {
    right: 70px;
    position: absolute;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.icon-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-block span {
    font-size: 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: black;
}